<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertex HTML Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/specimen/Kumbh+Sans -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">  <!-- https://fontawesome.com/-->  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">       <!-- https://dimsemenov.com/plugins/magnific-popup/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-vertex.css') }}">


</head>
<body>


    <!-- Site logo -->
    <h1 class="tm-brand">
        <i class="fas fa-mountain fa-2x tm-brand-icon"></i>
        <span class="tm-brand-text">Vertex</span>        
    </h1>

    <!-- Nav -->
    <nav class="tm-nav">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <ul id="tm-main-nav">
            <li class="nav-item">                                
                <a href="#intro" class="nav-link current">
                    Introduction
                </a>
            </li>
            <li class="nav-item">
                <a href="#services" class="nav-link">
                    Services
                </a>
            </li>
            <li class="nav-item">
                <a href="#gallery" class="nav-link">
                    Gallery
                </a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link">
                    Contact
                </a>
            </li>
        </ul>
    </nav>

    <!-- Content -->
    <main>
        <div id="intro" class="tm-section">
            <!-- Intro left -->
            <div class="tm-section-col tm-content">
                <div class="tm-media">
                    <img src="img/gallery/tn/img-11.jpg" alt="Intro image">
                    <div class="tm-media-body">
                        <h2><a href="#" class="tm-text-primary">Vertex is a Free CSS Template</a></h2>
                        <p class="tm-mb-20 tm-text-small">
                            This is a Responsive HTML5 Template brought to you by Tooplate for
                            100% free of charge. You can feel free to download, modify, and
                            use this layout for your websites.
                        </p>
                        <span class="tm-text-secondary tm-media-span tm-text-small">
                            Friday . 25 June 2021
                        </span>
                        <hr class="tm-hr tm-mr">
                    </div>
                </div>
    
                <div class="tm-media">
                    <img src="img/gallery/tn/img-12.jpg" alt="Intro image">
                    <div class="tm-media-body">
                        <h2><a href="#" class="tm-text-primary">Responsive and Parallax Images</a></h2>
                        <p class="tm-mb-20 tm-text-small">
                      You are not allowed to re-distribute this template as a ZIP file on any template collection website for the template download purpose. Please <a rel="nofollow" href="https://www.tooplate.com/contact" target="_parent">contact us</a> for more info. </p>
                        <span class="tm-text-secondary tm-media-span tm-text-small">
                            Monday . 21 June 2021
                    </span>
                        <hr class="tm-hr tm-mr">
                    </div>
                </div>
                
                <div class="tm-media">
                    <img src="img/gallery/tn/img-18.jpg" alt="Intro image">
                    <div class="tm-media-body">
                        <h2><a href="#" class="tm-text-primary">Do you like this HTML layout?</a></h2>
                        <p class="tm-mb-20 tm-text-small">
                            This is a custom full-width layout. Gallery page included paging thumbnails with a beautiful hover effect and a larger image pop up in the lightbox.
                        </p>
                        <span class="tm-text-secondary tm-media-span tm-text-small">
                            Wednesday . 16 June 2021
                        </span>
                        <hr class="tm-hr tm-mr">
                    </div>
                </div>
                <div class="tm-text-right">
                    <a href="#services" class="tm-btn tm-btn-next">Next page</a>
                </div>   
                
            </div>
            
            <!-- Intro right -->
            <div class="tm-section-col tm-parallax" data-parallax="scroll" data-image-src="img/vertex-bg-01.jpg"></div>
        </div> <!-- #intro -->

        <div id="services" class="tm-section">
            <!-- Services left -->
            <div class="tm-section-col tm-content">
                <h2 class="tm-text-primary">Our Services</h2>
                <p>Credit goes to <strong>Pexels website</strong> for background images and Unsplash website for gallery images used in this Vertex HTML template. Vestibulum quis ultrices ipsum, tempor cursus odio. Donec et nisl sit amet mauris consequat sodales. 
                </p>
                <p>
                    Morbi a sapien vitae nunc mollis efficitur quis eu purus. Donec nec orci pharetra, ullamcorper orci eu, gravida dolor. Morbi at rutrum nibh. Sed a erat vitae ipsum mollis tincidunt sed nec orci.
                </p>
                <div class="tm-text-right">
                    <a href="#gallery" class="tm-btn tm-btn-next">Next page</a>
                </div>                
                <hr class="tm-hr tm-ml tm-sm-mt-30">
                <div class="tm-row">
                    <div class="tm-col">
                        <div class="tm-text-center tm-my-50">
                            <i class="fas fa-street-view fa-3x"></i>
                        </div>                        
                        <p>
                            Fusce mi sapien, faucibus ut tortor a, tempus laoreet magna. Nulla felis ipsum, lobortis eu efficitur eget, malesuada id lacus.
                        </p>
                    </div>
                    <div class="tm-col">
                        <div class="tm-text-center tm-my-50">
                            <i class="fas fa-bullseye fa-3x"></i>
                        </div>                        
                        <p>
                            Nullam pellentesque accumsan hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        </p>
                    </div>
                </div>                
            </div>
            
            <!-- Services right -->
            <div class="tm-section-col tm-parallax" data-parallax="scroll" data-image-src="img/vertex-bg-02.jpg"></div>
        </div> <!-- #services -->

        <div id="gallery" class="tm-content tm-content-small-top">
            <div class="tm-gallery-container">
                <h2 class="tm-text-primary tm-text-right tm-gallery-header">Our Gallery</h2> 
                <div class="tm-gallery tm-mb-80">
                        {% for image in image_urls %}
                        <img src="{{ image }}" style="width:100%">
                        {% endfor %}
                </div>
                <div class="tm-paging tm-mb-130"></div>
            </div>
        </div>

        <div id="about" class="tm-section">
            <!-- About left -->
            <div class="tm-section-col tm-content tm-content-small">
                <h2 class="tm-text-primary">About Us</h2>
                <p>
                    You can find more free templates on Too CSS collections. Please visit Too CSS website to see a great list of HTML CSS templates. Simply type it in Google search.
                </p>
                <p>
                    You may help us by spreading a word about our website or make a small contribution by contacting Tooplate directly. That will be very helpful for us. Thank you.
                </p>
                <hr class="tm-hr tm-mb-50">                
                <p class="tm-mb-50">
                    Quisque luctus feugiat dui eget malesuada. Donec rutrum, nibh vel lobortis placerat, leo enim feugiat arcu, ornare imperdiet urna sem vitae tellus.
                </p>
                <div class="tm-text-right tm-mb-130">
                    <a href="#contact" class="tm-btn tm-btn-next">Contact Us</a>
                </div>                
            </div>
            
            <!-- About right -->
            <div class="tm-section-col tm-parallax" data-parallax="scroll" data-image-src="img/vertex-bg-03.jpg"></div>
        </div> <!-- #about -->

        <div id="contact" class="tm-section">
            <!-- Contact left -->
            <div class="tm-section-col tm-content tm-content-small">
                <h2 class="tm-text-primary">Contact Us</h2>
                <p>
                    Pellentesque nec dui pellentesque, fermentum turpis eu, facilisis libero. Vestibulum fringilla nulla augue, at consequat metus facilisis condimentum.
                </p> 
                <form id="contact-form" action="" method="POST" class="tm-contact-form tm-mb-200">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control rounded-0" placeholder="Name" required />
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control rounded-0" placeholder="Email" required />
                    </div>
                    <div class="form-group">
                        <textarea rows="6" name="message" class="form-control rounded-0" placeholder="Message" required=></textarea>
                    </div>

                    <div class="form-group tm-text-right">
                        <button type="submit" class="tm-btn">Send</button>
                    </div>
                </form>
                <footer class="tm-copyright tm-text-small">
                    Copyright 2021 Vertex Company 
                    
                    - Design: <a rel="nofollow" href="https://www.tooplate.com" class="tm-text-link" target="_parent">Tooplate</a>
                </footer>              
            </div>
            
            <!-- Contact right -->
            <div class="tm-section-col tm-parallax tm-relative" data-parallax="scroll" data-image-src="img/vertex-bg-04.jpg">
                <!-- Map -->
                <div class="mapouter">
                    <div class="gmap-canvas">
                        <iframe width="100%" height="420" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
            </div>
        </div> <!-- #contact -->
    </main>

    <script src="js/plugins.js"></script>
    <script>


        $(function(){
            
            /*************** Navigation *****************/

            const tmMainNav = $("#tm-main-nav");

            tmMainNav.singlePageNav({
                filter: ':not(.external)'
            });

            $('.navbar-toggler').click(function(e) {
                e.stopPropagation();
                tmMainNav.toggleClass('show');
            });

            $("html").click(function(e) {
                $("#tm-main-nav").removeClass("show");
            });

            /****************** Smooth Scrolling *****************/

            $(".tm-btn-next").on('click', function(event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;

                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){
                        // window.location.hash = hash;
                    });
                }
            });

            $('.tm-brand-icon').on('click', function(event) {
                $('html, body').animate({
                        scrollTop: $('#intro').offset().top
                    }, 800);
            });

            /****************** Gallery ******************/


            /****************** Magnific Popup ***********/

            $('.tm-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        });
    </script>
</body>
</html>